/* CSS Custom Properties */
:root {
  --white: #faf2e9;
  --tan-1: #895531;
  --tan-2: #6e4915;
  --tan-3: #7a5528;
  --tan-4: #c6b6a3;
  --orange: #b98b57;
  --text-light: #000000;
  --text-dark: #de1010;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}



.logo {
  float: left;
  margin-right: 10px; 
  width: 5%;
  mix-blend-mode: multiply;
}

.nav {
  text-align: right;
  color: lavender;
}